.box-0 {
  width: 34rem;
  margin: auto;
}

.box-1 {
  display: flex;
  flex-wrap: wrap;
}

.select-label {
  font-size: 1.8rem;
  font-weight: bold;
  width: 34rem;
  /* margin-bottom: 0.2rem; */
}

.select-dropdown {
  width: 34rem;
  padding: 0.8rem;
  margin-top: 0.8rem;
  border-radius: 0.6rem;
  border: 0.2px solid var(--main-text-color);
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem;
}

.select-dropdown-invalid {
  width: 34rem;
  padding: 0.8rem;
  outline: none !important;
  border: 1px solid var(--main-error-color);
  background-color: var(--main-input-error-bgr);
  font-size: 1.8rem;
}

.select-dropdown-invalid:focus {
  outline: none !important;
  border: 1.8px solid var(--main-text-color);
}

/* error message */
.input-error-msg {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main-cta-color);
  margin-top: 0.3rem;
}

.input-error-msg-none {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  visibility: hidden;
}

.required {
  color: var(--main-cta-color);
}
